<%- include('./partials/header') %>

  <body>
    <h1>
      TABLE
    </h1>
    <p>Table Data
    </p>

    <a href="/users" class="btn btn-primary px-4">Data</a>

    <%- include('./partials/footer') %>